<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/greet.css" />
    <title>Greeted Name</title>
  </head>
  <body>
    <div class="containerAll">
      <div class="header">
        <h1 class="logo">Greetings</h1>
        <div class="header-right">
          <a href="/greetings">Home</a>
          <a href="/greeted">Names Greeted</a>
          <a href="/reset/greeted">Reset</a>
        </div>
      </div>
        <div class="greetedname">
            <h3>{{name}} has been greeted {{counter}} time(s).</h3>
            <h3>{{english}} of those greetings were in English</h3>
            <h3>{{afrikaans}} of those greetings were in Afrikaans</h3>
            <h3>{{xhosa}} of those greetings were in Xhosa</h3>
        </div>
    </div>
  </body>
</html>